@import "https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@600;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Exa", sans-serif;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding-top: 40px;
}

.logo img {
  padding-left: 50px;
  width: 250px;
  height: auto;
}

.redes-sociales {
  padding-right: 40px;
}
.redes-sociales a {
  color: white;
  display: block;
  padding-bottom: 15px;
}

.bajada {
  width: 100%;
  height: auto;
  color: white;
  font-size: 30px;
  padding: 20px 0 0 50px;
  display: block;
}

.desk ul {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 15px;
  bottom: 8%;
  right: 4%;
  padding: 10px 30px 10px 30px;
}
.desk ul li {
  list-style: none;
  display: block;
  width: auto;
}
.desk ul li a {
  color: white;
  text-decoration: none;
  font-size: 43px;
  transition: 0.5s;
}
.desk ul li a:hover {
  color: rgb(109, 109, 109);
}
.desk ul li a.active {
  color: rgb(255, 22, 61);
}
.desk .subpaginas a {
  text-decoration: none;
  font-size: 30px;
  left: 40px;
}
.desk .subpagina:hover {
  translate: 30px;
}

.mobile {
  position: fixed;
  bottom: 60px;
  padding: 0 60px 0 60px;
  width: 100%;
}
.mobile ul {
  display: block;
  margin: 0;
  padding: 0;
}
.mobile ul li {
  list-style: none;
  text-align: center;
}
.mobile .subpaginasmobile {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.mobile .subpaginasmobile a {
  font-size: 16px;
}
.mobile a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s;
}
.mobile a:hover {
  color: rgb(109, 109, 109);
}

.navbar-toggler {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:focus-visible {
  background-color: rgb(109, 109, 109);
}

.bg-black {
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 90%;
}

.bg-dark {
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 90%;
}

.navbar-opacity {
  background-color: rgba(0, 0, 0, 0.836);
}

#indexslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -9999;
}
#indexslider .carousel-inner {
  overflow: hidden;
}
#indexslider .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  height: 100vh;
}

.containermihistoria {
  max-width: 1300px;
  display: flex;
  gap: 20px;
  padding: 40px 80px 0 80px;
}

.columna1historia {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.columna3historia {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.columna2historia {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foto1 img {
  width: 100%;
  height: 100%;
}
.foto1 h1 {
  color: white;
}
.foto1 h2 {
  color: white;
}
.foto1 .texthistoria {
  color: white;
}

.fondo1 {
  background-color: black;
}

.titulobranding {
  color: white;
  font-size: 40px;
  border-radius: 50px;
  margin: 100px 0 0 80px;
}

.containerbranding {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 40px 0 0 80px;
  gap: 15px;
}
.containerbranding .branding1 img {
  width: 100%;
  text-align: center;
}
.containerbranding .branding1:hover {
  transform: scale(1.02);
}
.containerbranding .branding2 img {
  width: 100%;
  text-align: center;
}
.containerbranding .branding2:hover {
  transform: scale(1.02);
}
.containerbranding .branding3 img {
  width: 100%;
  text-align: center;
}
.containerbranding .branding3:hover {
  transform: scale(1.02);
}
.containerbranding .branding4 img {
  width: 100%;
  text-align: center;
}
.containerbranding .branding4:hover {
  transform: scale(1.02);
}
.containerbranding .branding5 img {
  width: 100%;
  text-align: center;
}
.containerbranding .branding5:hover {
  transform: scale(1.02);
}

.fondo3 {
  background-color: black;
}

.merch {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.836);
  margin: 30px 0 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}
.merch .productomerch {
  width: 100%;
  height: 300px;
  background-color: white;
  text-align: start;
  border-radius: 15px;
}
.merch .titulo {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  padding: 15px 0 0 20px;
  font-weight: bold;
}
.merch .precio {
  padding: 0;
  margin: 0;
  font-size: 25px;
  padding-left: 20px;
}

.imagenmerch {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.teclado {
  background-image: url(../img/Sticker\ de\ Teclado.webp);
}

.separador {
  background-image: url(../img/Separadores.webp);
}

.libretas {
  background-image: url(../img/Libretas.webp);
}

.tazas {
  background-image: url(../img/Tazas.webp);
  background-position: top;
}

.posavasos {
  background-image: url(../img/Posavasos\ desordenado.webp);
  background-position: top;
}

.formulariocompleto {
  max-width: 900px;
  padding-top: 20px;
  padding: 35px 60px 0 80px;
}
.formulariocompleto a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

button:hover {
  transform: scale(1.03);
}

.colaboremos-formulario {
  font-size: 50px;
  color: white;
  border-radius: 10px;
  margin: 70px 0 30px 0;
}

.contacto-letragordita {
  margin-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 980px) {
  .logo img {
    width: 40%;
  }
  .desk {
    display: none;
  }
  .bajada {
    font-size: 16px;
  }
  .columna1historia {
    display: none;
  }
  .columna3historia {
    display: none;
  }
  .containerbranding {
    grid-template-columns: 1fr;
  }
  .merch {
    grid-template-columns: repeat(1, 1fr);
  }
  .titulo {
    font-size: 27px;
  }
  .formulariocompleto {
    padding: 35px 60px 0 50px;
  }
  .colaboremos-formulario {
    font-size: 30px;
  }
  .contacto-letragordita a {
    font-size: 13px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .merch {
    grid-template-columns: repeat(2, 1fr);
  }
  .merch .titulo {
    font-size: 25px;
  }
}
@media screen and (min-width: 981px) {
  .mobile {
    display: none;
  }
  .columna2historia {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */