$font-family_1: 'Lexend Exa', sans-serif;

@import "https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@600;900&display=swap";
@import 'utilities/maps';
@import 'base/generales';
@import 'utilities/mixins';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}

.header-main {
	@include flex (flex, space-between, center);
	width: 100%;
	height: 200px;
	padding-top: 40px;
}

.logo {
	img {
		padding-left: 50px;
		width: 250px;
		height: auto;
	}
}

.redes-sociales {
	padding-right: 40px;

	a {
		color: map-get($colores, color-primario);
		display: block;
		padding-bottom: 15px;

		&:hover {
			color: map-get($colores, color-active);
			transition: 0.5s;
		}
	}
}

.bajada {
	width: 100%;
	height: auto;
	color: map-get($colores, color-primario);
	text-shadow: 1px 1px 4px grey;
	font-size: 30px;
	padding: 20px 0 0 50px;
	display: block;
}

.desk {
	ul {
		position: fixed;
		background-color: map-get($colores, color-inicio);
		backdrop-filter: blur(5px);
		border-radius: 15px;
		bottom: 8%;
		right: 4%;
		padding: 10px 30px 10px 30px;

		li {
			list-style: none;
			display: block;
			width: auto;

			a {
				color: map-get($colores, color-primario);
				text-decoration: none;
				font-size: 36px;
				transition: 0.5s;

				&:hover {
					color: map-get($colores, color-click);
				}

				&.active {
					color: map-get($colores, color-active);
				}
			}
		}
	}

	.subpaginas {
		a {
			text-decoration: none;
			font-size: 25px;
			left: 40px;

		}
	}

	.subpagina:hover {
		translate: (30px);
		transition: 0.5s;
	}

}

.mobile {
	position: fixed;
	bottom: 60px;
	padding: 0 60px 0 60px;
	width: 100%;

	ul {
		display: block;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			text-align: center;
		}
	}

	.subpaginasmobile {
		display: flex;
		justify-content: space-evenly;
		text-align: center;

		a {
			font-size: 16px;
		}
	}

	a {
		color: map-get($colores, color-primario);
		text-decoration: none;
		font-size: 25px;
		transition: 0.5s;

		&:hover {
			color: map-get($colores, color-click);
		}

		&.active {
			color: map-get($colores, color-active);
		}
	}
}

.navbar-toggler {

	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	border: none;

	&:focus {
		box-shadow: none;
	}

	&:focus-visible {
		background-color: map-get($colores , color-click);
	}
}

.bg-black {
	@include margin-border(10px, 10px, 90%);

}

.bg-dark {
	@include margin-border(10px, 10px, 90%);
}

.navbar-opacity {
	backdrop-filter: blur(5px);
	background-color: map-get($colores, color-inicio);
}

#indexslider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -9999;

	.carousel-inner {
		overflow: hidden;

		.carousel-item {
			img {
				object-fit: cover;
				object-position: center top;
				height: 100vh;
			}
		}
	}
}


.containermihistoria {
	width: 75%;
	display: flex;
	gap: 20px;
	padding: 50px;
}

.columna1historia {
	@include flex-imagen (flex, column, 20px, 50%);
}

.columna3historia {
	@include flex-imagen (flex, column, 20px, 50%);
}

.columna2historia {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.foto1 {
	img {
		width: 100%;
		height: 100%;
	}

	h1 {
		color: map-get($colores, color-primario);
	}

	h2 {
		color: map-get($colores, color-primario);
		font-size: 30px;
	}

	.texthistoria {
		color: map-get($colores, color-primario);
	}
}

.fondo {
	background-image: linear-gradient(135deg, black, rgb(19, 0, 0), rgb(17, 16, 16), );
	background-size: 400%;
	animation: degradado 10s infinite;
}

.subtituloproyecto {
	color: map-get($colores, color-primario);
	font-size: 50px;
	border-radius: 50px;
	padding: 30px 0 0 50px;
}

.parrafoproyecto {
	width: 60%;
	font-size: 18px;
	padding: 15px 0 0 50px;
}

.containerpackaging {
	width: 75%;
	display: grid;
	grid-template-areas:
		"packaging1 packaging2"
		"packaging3 packaging3";
	gap: 15px;
	padding: 50px;

	.packaging1 {
		img {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	.packaging2 {
		video {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	.packaging3 {
		img {
			width: 100%;
			align-items: center;
		}

		&.packaging3 {
			grid-area: packaging3;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

}

.containerredessociales {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 15px;
	padding: 50px;

	.redessociales1 {
		img {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	.redessociales2 {
		img {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	.redessociales3 {
		img {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	.redessociales4 {
		img {
			width: 100%;
			align-items: center;
		}

		&:hover {
			transform: scale(1.02);
		}
	}
}

.merch {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 40px;
	padding: 50px;

	.productomerch {
		width: 100%;
		height: 300px;
		background-color: map-get($colores, color-primario);
		text-align: start;
		border-radius: 15px;

		a {
			text-decoration: none;
			color: map-get($colores, color-fondo );
			.titulo {
				padding: 0;
				margin: 0;
				display: flex;
				justify-content: flex-start;
				font-size: 28px;
				padding: 15px 0 0 20px;
				font-weight: bold;
			}

			.precio {
				padding: 0;
				margin: 0;
				font-size: 25px;
				padding-left: 20px;
			}
		}
	}

	.imagenmerch {
		background-position: center;
		background-size: cover;
		height: 200px;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}

	.teclado {
		background-image: url(../img/Sticker\ de\ Teclado.webp);
	}

	.separador {
		background-image: url(../img/Separadores.webp);
	}

	.libretas {
		background-image: url(../img/Libretas.webp);
	}

	.tazas {
		background-image: url(../img/Tazas.webp);
		background-position: top;
	}

	.posavasos {
		background-image: url(../img/Posavasos\ desordenado.webp);
		background-position: top;
	}

	.lanyard {
		background-image: url(../img/Lanyard.webp);
		background-position: center;

	}

	.stickers {
		background-image: url(../img/Stickers\ sueltos.webp);
		background-position: center;

	}

	.pines {
		background-image: url(../img/Pines.webp);
		background-position: center;

	}

	.pulseras {
		background-image: url(../img/Pulseras.webp);
		background-position: center;

	}

}

.formulariocompleto {
	max-width: 900px;
	padding-top: 20px;
	padding: 0 80px;
}

p {
	color: map-get($colores, color-primario);
}

button:hover {
	transform: scale(1.03);
}

.colaboremos-formulario {
	font-size: 50px;
	color: map-get($colores, color-primario);
	border-radius: 10px;
	padding: 30px 0 20px 0;
}

.btn-secondary {
	border: none;
	background: map-get($colores, color-active);

	&:hover {
		background: map-get($colores , color-active);
	}

	&:active {
		background: map-get($colores , color-active);
	}
}

.contacto-letragordita {
	max-width: 900px;
	margin: 30px 0 50px 80px;

	a {
		text-decoration: none;
		color: map-get($colores, color-primario);
		font-size: 20px;
	}
}


@media screen and (max-width:980px) {
	.logo {
		img {
			width: 50%;
		}
	}

	.desk {
		display: none;
	}

	.bajada {
		font-size: 16px;
	}

	.containermihistoria {
		width: 100%;
		padding: 40px;
		gap: 15px;
	}

	.columna1historia {
		display: none;
	}

	.columna3historia {
		display: none;
	}

	.subtituloproyecto {
		color: map-get($colores, color-primario);
		font-size: 35px;
		padding: 0 30px;
	}

	.parrafoproyecto {
		width: 100%;
		font-size: 16px;
		padding: 0 30px;
		margin: 0
	}

	.containerpackaging {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 30px;
	}

	.containerredessociales {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 30px;
	}

	.merch {
		width: 100%;
		padding: 40px;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 150px;
		.productomerch a{
			.titulo{
				font-size: 26px;
			}
		}
	}

	.titulo {
		font-size: 27px;
	}

	.formulariocompleto {
		padding: 0 50px;
	}

	.colaboremos-formulario {
		font-size: 35px;
	}

	.contacto-letragordita {
		margin: 30px 0 150px 50px;

		a {
			font-size: 15px;
		}
	}
}

@media screen and (min-width: 767px) and (max-width: 1100px) {
	.merch {
		width: 75%;
		grid-template-columns: repeat(2, 1fr);

		.productomerch a{
			.titulo{
				font-size: 26px;
			}
		}
	}
}

@media screen and (min-width: 981px) {
	.mobile {
		display: none;
	}

	.columna2historia {
		display: none;
	}
}