$colores:(
    color-primario: white,
    color-click: rgb(109, 109, 109),
    color-inicio: rgba(0, 0, 0, 0.836),
    color-fondo: black,
    color-inicio-tecleo: rgba(255, 255, 255, 0.8),
    color-active: rgb(255, 22, 61),
)
